.radio-label{
    display: block;
    margin-bottom: 0.3em;
}

.radio-select{
    margin-right: 0.6em;
}

.btn-disabled{
    opacity: 0.6;
    pointer-events: none;
}

.modal-header{
    background-color: #007bff;
    color: #fff;
}

.modal-content{
    border-radius: 0.5rem;
}

.btn-primary, .btn-danger{
    transition: all 0.3s ease;
}

.navbar-nav .nav-link img{
    width: 2.5rem; 
    height: 2.5rem;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.navbar-nav .nav-link img:hover{
    transform: scale(1.2);
    width: 3rem; 
    height: 3rem;
}